@media screen and (min-width: 1000px) {
  html {
    font-size: 2rem;
  }
  /* .container {
    max-width: 1140px;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
  } */

  .main-nav {
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .main-nav li {
    height: auto;
    width: auto;
  }
  .burger {
    display: none;
  }
  /* Our Teams */
  .team-container {
    grid-template-columns: repeat(4, 1fr);
    /* max-height: 100vh; */
  }
  .team-img-container:hover .our-team__social-list {
    left: 0;
    transition: 0.3s;
  }
  .our-team__social-list {
    flex-direction: column;
    position: absolute;
    background-color: var(--main-color);
    color: #fff;
    height: calc(100% - 3.5px);
    top: 0;
    left: -75.5px;
    list-style: none;
    margin-top: 0;
    padding-left: 0;
  }
  .ContactForm_grid {
    margin: auto;
  }
  /* Footer */
  .footer-grid {
    grid-template-columns: repeat(4, 1fr);
    gap: 1.2rem;
  }

  /* hide burger show nav */
}
