@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css");
@import "reset.css";
@import "tablet.css";
/* @import "desktop.css"; */

/*  Variables */
html {
  --main-color: #007bff;
  --main-dark-color: #333;
  --text-dark-color: #999;
}
/*  Global styles */
html {
  font-size: 16px;
}
body {
  font-family: "Open Sans", sans-serif;
}
.container {
  padding-left: 1rem;
  padding-right: 1rem;
}
p {
  font-weight: 300;
  text-align: center;
}
.section-title {
  color: var(--main-color);
  text-align: center;
  font-weight: 800;
}
.section-subtitle {
  line-height: 1.5;
  color: var(--main-dark-color);
  text-align: center;
  font-size: 1.1rem;
  margin-bottom: 2rem;
}
section {
  padding-top: 8%;
  padding-bottom: 10%;
}
/*  Heder  */
.main-header {
  background-color: #e5e5de;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}
.main-header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  color: black;
  font-size: 1.8rem;
  padding: 0.7em 0;
}
.logo span {
  color: var(--main-color);
}
.burger {
  font-size: 22px;
}

/*  Hero sect  */

.hero {
  background-color: gray;
  color: white;
  height: 100vh;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* bg img */
  background: url("../img/hero.webp") no-repeat center center;
  background-size: cover;
}
h1 {
  font-weight: 800;
}
.hero__sub {
  padding: 0 1.5rem;
  font-weight: 1.2rem;
  line-height: 1.5;
  margin-bottom: 2rem;
}
.btn {
  border: none;
  border-radius: 2rem;
  background-color: var(--main-color);
  color: white;
  padding: 0.6em 1.3em;
  transition: background-color 0.2s;
}
.btn:hover {
  background-color: var(--main-dark-color);
}
/*  Overlay ======== */
.overlay {
  position: relative;
}
.overlay > * {
  z-index: 1;
}
.overlay::after {
  content: "";
  background-color: #333333e0;
  position: absolute;
  inset: 0;
}
/*  Our Team ======== */
.team-container {
  display: grid;
  gap: 1rem;
}

.team-card__descripsion {
  padding-top: 0.8rem;
  padding-left: 0.8rem;
}
.team-img-container {
  position: relative;
  overflow: hidden;
}
.team-img-container:hover .our-team__social-list {
  left: 0;
  transition: 0.3s;
}
.team-card__image {
  width: 100%;
  max-height: 450px;
  object-fit: cover;
}

.our-team__social-link {
  padding: 10px;
  display: inline-block;
}
.our-team__social-list {
  position: absolute;
  background-color: var(--main-color);
  color: #fff;
  height: calc(100% - 3.5px);
  top: 0;
  left: -75.5px;
  list-style: none;
  margin-top: 0;
  padding-left: 0;
}
/* Contact Us start ========*/
.contact__Us {
  background-color: #fff;

  padding-left: 20px;
  height: auto;
  display: flex;
  gap: 16px;
  flex-direction: column;
}
.contact {
  flex-basis: 35%;
}
.ContactForm {
  flex-basis: 60%;
}
/* Contact Us End ========== */
/* Footer ============ */

.footer {
  padding-top: 13%;
  background-color: var(--main-dark-color);
  color: #fff;
}
.footer-title {
  font-weight: normal;
}
.footer p,
.footer-nav,
.footer .fa {
  color: var(--text-dark-color);
}
.footer-grid {
  display: grid;
  gap: 1rem;
  margin-bottom: 3rem;
}
.footer-abaut p {
  text-align: left;
}
.footer-bottom p {
  padding: 2rem 0;
  text-align: center;
}
.footer-bottom .fa {
  color: red;
}
.footer__hr {
  height: 1px;
  background-color: var(--text-dark-color);
  max-width: 95%;
  margin: auto;
}
.footer-nav {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.social-link {
  padding: 1em;
  font-size: 16px;
}
.social-link:first-child {
  padding-left: 0;
}
.footer-form {
  display: flex;
  flex-direction: row;
}
/* footer form    */

.footer-form input {
  border-radius: 2rem 0 0 2rem;
  flex-grow: 1;
  border-color: transparent;
  border: 1px solid var(--text-dark-color);
  background-color: var(--main-dark-color);
  padding: 0.5em;
  color: #fff;
}
.footer-form button {
  border-radius: 0 2rem 2rem 0;
  background-color: #fff;
  border-color: #fff;
  border: 0;
  padding: 0.5em 1.6em;
}
@media screen and (min-width: 1000px) {
  /* heeder */
  .main-nav ul {
    display: flex;
    gap: 0.5rem;
    font-size: 20px;
    padding-right: 60px;
  }
  .mai-nav__link {
    padding-right: 20px;
  }
  .nav_list_Ul {
    list-style: none;
    padding-left: 0;
  }

  .nav_list .burger {
    display: none;
  }
  /* Our Teams */
  .team-container {
    grid-template-columns: repeat(4, 1fr);
    /* max-height: 100vh; */
  }
  .team-img-container img {
    height: 486.4px;
  }
  .team-img-container:hover .our-team__social-list {
    left: 0;
    transition: 0.3s;
  }
  .our-team__social-list {
    position: absolute;
    background-color: var(--main-color);
    color: #fff;
    height: calc(100% - 3.5px);
    top: 0;
    left: -45.5px;
    list-style: none;
    margin-top: 0;
    padding-left: 0;
  }
  .our-team__social-link {
    font-size: 20px;
    height: 45px;
    width: 45px;
    color: #fff;
    padding: 0;
    display: inline-block;
  }
  .fa {
    display: block;
    height: 25px;
    width: 25px;
    padding-left: 12px;
    padding-top: 5px;
    margin: 0;
  }
  .contact {
    width: 1200px;
    margin-left: 400px;
  }
  /* .adres {
    margin-left: 200px;
  }
  .contactEmail {
    margin-right: 200px;
  } */
  /* Contakt Form start */
  .ContactForm_grid {
    width: 1200px;
    text-align: center;
    margin-left: 400px;
    font-size: 20px;
  }
  /* Footer */
  .footer-grid {
    grid-template-columns: repeat(4, 1fr);
    gap: 1.2rem;
  }
}
