/* Tablet CSS ======== */
@media screen and (min-width: 768px) {
  html {
    font-size: 18px;
  }
  img {
    min-height: 360px;
  }
  .main-header {
    border-bottom: 2px;
    border-color: black;
  }
  .main-nav ul {
    display: none;
  }
  .team-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .unlisted {
    display: block;
  }
  .team-img-container:hover .our-team__social-list {
    left: 0;
    transition: 0.3s;
  }
  .our-team__social-list {
    position: absolute;
    background-color: var(--main-color);
    color: #fff;
    height: calc(100% - 3.5px);
    top: 0;
    left: -75.5px;
    list-style: none;
    margin-top: 0;
    padding-left: 0;
  }

  /* contact__Us start */
  .contact__Us {
    max-height: 800px;
  }
  .contact__Us h2 {
    text-align: center;
    color: var(--main-color);
  }
  .contact {
    max-width: auto;
    display: flex;
    height: 100%;
    text-align: center;
    justify-content: space-between;
    padding-right: 20px;
  }
  .ContactForm {
    padding-right: 20px;
    margin: 0;
    height: 300px;
    margin-bottom: 20px;
  }
  .ContactForm_grid {
    display: grid;
    gap: 2px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    box-sizing: border-box;
  }
  .inputBlocFN {
    width: 100%;

    box-sizing: border-box;
    margin: 0;
  }
  .inputBlocFN input {
    width: 100%;
  }
  .inputBlocLN input {
    width: 100%;
  }
  .emaiContact {
    grid-column: span 4;
    box-sizing: border-box;
    margin: 0;
    /* padding-right: 20px; */
  }
  .emaiContact input {
    width: 100%;
  }
  .emaiContact {
    grid-template-rows: (1, 3);
  }
  .subjectContact {
    grid-column: span 4;
    box-sizing: border-box;
    margin: 0;
  }
  .subjectContact input {
    width: 100%;
  }
  .subjectMesge {
    grid-column: span 4;
  }
  .subjectMesge textarea {
    width: 100%;
  }
  /* contact__Us end */
  /* Footer ============ */

  .footer-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.2rem;
  }
  /*  Our Team ======== */
}
